.uploaded {
    .ant-upload.ant-upload-select {
        display: none;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    .ant-upload-wrapper {
        width: 250px;

        .ant-form-item-explain-error {
            text-align: center;
        }
    }
}

.formText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}