.content {
    .ant-space-item {
        width: 90%;
    }

    .ant-upload-wrapper {
        width: 100px;
        margin-left: 20px;
    }

    .formDescription {
        width: 70%;
        margin-left: 30px;
        text-align: left;
    }

    .duplicates {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
      
        .similar {
            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }

        .dup {
            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }

    .ant-card-head-title {
        text-align: left;
    }
}

.header {
    .all {
        cursor: pointer;
        text-align: right;
        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}

.uploaded {
    .ant-upload.ant-upload-select {
        display: none;
    }
}
